DATABASE_URL=postgresql://postgres:postgres@localhost:5432/food_store

# saca tu secret key aca "python -c "import secrets; print(secrets.token_hex(32))" " generamos nuestra secret_key

SECRET_KEY=pa-las-pruebas-lo-tenes-que-cambiar

ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7
CORS_ORIGINS=["http://localhost:5173"]

# tokens en "https://www.mercadopago.com.ar/developers/es" y ngrok

MP_ACCESS_TOKEN= tokens
MP_PUBLIC_KEY= tokens
MP_NOTIFICATION_URL= tokens